@import url('https://fonts.googleapis.com/css?family=Courgette|Dosis|Yanone+Kaffeesatz');
$name-font: 'Courgette',
cursive;
$note-font: 'Yanone Kaffeesatz',
sans-serif;
$normal-font: 'Dosis',
sans-serif;
$deep-blue: #081824;
$second-blue: #45848E;
$regular-blue: #72A4A1;
$second-yellow: #D5DDD0;
$regular-yellow: #F1EBD3;
body {
    position: relative;
}

.jumbotron {
    margin-bottom: 0rem;
    background-size: cover;
    background-image: url("../img/Skyline-2.jpg");
    height: 50rem;
    color: white;
    h1 {
        font-size: 4.236em;
        margin-bottom: 1rem;
    }
    p {
        font-family: $normal-font;
        font-size: 1em;
    }
    a {
    	color: white;
    }

    a:hover {
    	color: #E5E5E5;
    }
}

#logo-name {
    font-family: $name-font !important;
}

.navbar {
    height: 4.236em;
    padding-top: 1rem;
}

#nav-bar {
    font-family: $normal-font !important;
    font-size: 1em;
}

h1,
h2 {
    font-family: $name-font;
}

h2 {
    font-size: 2.618em;
    margin-bottom: 1.618em;
}

section {
    padding: 4.236em;
    img {
        margin: 1em;
    }
}

#about-section {
    color: white;
    background-color: $deep-blue;
    p {
        font-family: $normal-font;
        font-size: 1.618em;
        line-height: 1.8em;
        margin-bottom: 1rem;
    }
}

#work-section {
    background-color: $regular-yellow;
}

#photography-section {
    background-color: $deep-blue;
    color: white;
}

@media (max-width: 767px) {
    .jumbotron {
        background-image: url("../img/Skyline-portrait.jpg");
        h1 {
            margin-top: 2.618em;
            font-size: 2.618em;
        }
    }

    #about-section {
    	p {
    		font-size: 1em;
        	line-height: 1.5em;	
    	}
    }

}
